<div class="card mb-3">
  <div class="card-header">
    <%= t("views.analysis.histogram") %>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12 mb-3">
        <%= column_chart Survey.histogram_chart(@result.histogram(params[:student_attributes])),
          title: t("views.school"),
          xtitle: t("views.analysis.number_of_corrects"),
          ytitle: t("views.analysis.number_of_people"),
          download: {background: "#ffffff"} %>
      </div>
      <div class="col-12">
        <% if @survey.aggregated %>
          <%= column_chart Survey.histogram_chart(@survey.aggregated["histograms"]["#{@result.grade}-#{@result.subject}-#{params[:comparator]}"]),
            title: t("views.comparator"),
            xtitle: t("views.analysis.number_of_corrects"),
            ytitle: t("views.analysis.number_of_people"),
            download: {background: "#ffffff"} %>
        <% end %>
    </div>
  </div>
</div>
