<div class="card mb-3">
  <div class="card-header">
    <%= t("views.analysis.histogram") %>
  </div>
  <div class="card-body">
    <div class="row">
      <%= column_chart(
        Survey.histogram_chart(@result.histogram(params[:student_attributes])),
        width: "1280px", height: "500px") %>
      <%= column_chart(
        Survey.histogram_chart(@survey.aggregated["histograms"]["#{@result.grade}-#{@result.subject}-#{params[:comparator]}"]),
        width: "1280px", height: "500px") %>
    </div>
  </div>
</div>
