<% @result.patterns(params[:student_attributes]).each_with_index do |pattern, i| %>
  <div class="card mb-3">
    <div class="card-header">
      <%= pattern[:label] %>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <%= pie_chart pattern[:options], title: t('views.school'), download: { background: '#ffffff' } %>
        </div>
        <div class="col-6">
          <% if @survey.aggregated and pattern %>
            <%= pie_chart Survey.sort_pattern_with_options(@survey.aggregated['patterns']["#{@result.grade}-#{@result.subject}-#{params[:comparator]}"][i]['options'], pattern[:options]),
              title: t('views.comparator'), download: { background: '#ffffff' } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
