<% @result.patterns(params[:student_attributes]).each_with_index do |pattern, i| %>
  <div class="card mb-3">
    <div class="card-header">
      <%= pattern[:label] %>
    </div>
    <div class="card-body">
      <div class="row">
        <%= image_tag("data:image/jpeg;base64,#{Result.pie(pattern[:options])}",
          class: "col-6") %>
        <%= image_tag("data:image/jpeg;base64,#{Result.pie(@survey.aggregated["patterns"]["#{@result.grade}-#{@result.subject}-#{params[:comparator]}"][i]["options"])}",
          class: "col-6") %>
      </div>
    </div>
  </div>
<% end %>
